<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>S3 Uploader</title>
  </head>
  <body>
    <h2>Uploaded Files</h2>
    <!-- TODO: show uploaded files -->
  </body>
</html>
